.main__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
}

.main__sideNav {
  display: flex;
  flex-direction: column;
  /* background-color: var(--light); */
  width: 16rem;
  transition: width 0.5s;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.main__bodyContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main__appName {
  text-align: center;
}

.main__collapseBtn {
  align-self: flex-end;
  margin: 1rem;
  background-color: var(--light);
  outline: none;
  border-width: 0;
}

.main__logoContainer {
  display: flex;
  align-items: center;
  width: 180px;
}

.sideNav__collapsed {
  width: 5rem !important;
}

.header__account {
  position: relative;
}

.main__header {
  max-height: 4rem;
}

.main__body {
  height: calc(100vh - 4rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.main__header > div {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.main__header > div > .header__left {
  flex: 1;
}

.main__header > div > .header__right {
  flex: 1;
}
